.container{
    margin: 200px auto;
    width: 300px;
}

#result{
    font-size: 2em;
    text-align: center;
    padding-top:2em;
}

body {
    background: pink;
    
}

button {
    background-color: #e052f6;
    border: none;
    color: rgb(239, 239, 239);
    padding: 3px 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: monospace;
  }

div{
    font-size: 30px;
    font-family: cursive;
}